<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://cpettitt.github.io/project/graphlib-dot/v0.5.2/graphlib-dot.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.css">

<script src="assets/lib/dagre-d3.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/myCtrl.js"></script>
<script src="app/services/rangeTreeService.js"></script>
<script src="app/services/avlTreeService.js"></script>
<script src="app/services/AVLTree.js"></script>
<script src="app/services/drawGraph.js"></script>
<script src="app/services/utils.js"></script>
</head>

<body ng-app="myApp">

<div ng-controller="myCtrl">
<h2>Bit Vectors Demo: Range Tree</h2>

<div class="form-group row" style="margin:10px">
  <div class="col-xs-2 "><h3 class="line">Input:</h3> <var>N</var> = 2<sup>x</sup> and <var>B</var> = 2<sup>y</sup> and <var>N</var> mod <var>B</var> = 0</div>
  <div class="col-xs-2 line">
    <label for="bit_vector_size">N: </label>
    <input class="form-control" id="bit_vector_size" type="text" ng-model="bitVectorsSize" ng-keyup="inputN()" style="margin-right:0px;">
	<label for="bit_vector_size" style="margin-right:20px;">Bits</label>
  </div>
  <div class="col-xs-2 line">
    <label for="leaf_size">B: </label> 
    <input class="form-control" id="leaf_size" type="text" ng-model="leafSize" ng-keyup="inputB()">
  </div>
  <div class="col-xs-2 line">
    <!--button type="button" ng-click="tryDraw()" style="margin-left:30px">Draw</button-->
	  <button type="button" ng-click="generateAndDraw()" style="margin-left:10px"><i class="fa fa-random"></i></button>
  </div>
  <div class="col-xs-2 line">
 
  </div>
</div>

<div class="form-group row" style="margin:10px;">
	<table >
		<tr>
			<td  ng-repeat="bit in bitVectors track by $index" ng-click="flip($index, bit)" data-toggle="tooltip" 
			data-placement="top" title="flip to {{1-bit}}" class="vector">
				{{ bit }}
			</td>
		</tr>
		<tr ><td ng-repeat="bit in bitVectors track by $index" class="indices" >{{$index}}</td></tr>
	</table>
</div>

<h3>Graph Visualization</h3>

<svg width='95%' height=600>
  <g/>
</svg>

</div>

</body>
</html>
